<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Redireccionar con JS</title>

    <link rel="stylesheet" href="css/bootswatch-theme-lux.min.css">
  </head>
  <body>

    <div class="container mt-4" id="app">
      <h1 class="text-center">{{ title }}</h1> <br>

      <input type="text" id="name" placeholder="Nombre de usuario"
      class="form-control" v-model="name">

      <br>

      <input type="password" id="pass" placeholder="Contraseña"
      class="form-control" v-model="pass">

      <br>

      <button class="btn btn-primary btn-block" @click="hola()">
        Redireccionar
      </button>

    </div>


    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
